<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.sourcery.ascent"
    android:versionCode="2"
    android:versionName="2.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AscentApplication"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchAscentsActivity" />

        <meta-data
            android:name="com.google.android.apps.drive.APP_ID"
            android:value="@string/apikey" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddAscentActivity" />
        <activity android:name=".SearchAscentsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".AddCragActivity" />
        <activity android:name=".RepeatAscentActivity" />
        <activity android:name=".EditAscentActivity" />
        <activity android:name=".CragListActivity" />
        <activity
            android:name=".ImportDataActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ExportDataActivity"
            android:configChanges="orientation" />
        <activity android:name=".ProjectListActivity" />
        <activity android:name=".GradeAscentsActivity" />
        <activity android:name=".ScoreGraphActivity" />
        <activity android:name=".GradeGraphActivity" />
        <activity android:name=".TickProjectActivity" />
        <activity android:name=".AddProjectActivity" />
        <activity android:name=".Top10Activity" />
        <activity android:name=".SummaryActivity" />
        <activity android:name=".EightALoginActivity" />
	</application>

</manifest>
